{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Rob Williams" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "rob@r-williams.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  aliases:
    g: "git status"
    ga: "git add"
    gap: "git add -p"
    gc: "git commit --verbose"
    gd: "git diff"
    gco: "git checkout"
    gcm: "git checkout main"
    gl: "git log"
    gcan: "git commit --amend --no-edit"
    gpull: "git pull"
    gpush: "git push"
    gstash: "git stash"
    gs: "git show"
    ggrep: "git grep"
    ggraph: "git log --graph --oneline --decorate --all"
    glog: "git log --oneline --decorate --all"
    ll: "ls -l"
    la: "ls -a"
    cls: "clear"
    cm: "chezmoi"
    vi: "vim"

edit:
  command: "nvim"

diff:
  exclude:
    - scripts
