#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "heroku"
brew "fish"
brew "ripgrep"

cask "1password-cli"
EOF
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}


wget -qO - https://rtx.pub/gpg-key.pub | gpg --dearmor | sudo tee /usr/share/keyrings/rtx-archive-keyring.gpg 1> /dev/null
echo "deb [signed-by=/usr/share/keyrings/rtx-archive-keyring.gpg arch=amd64] https://rtx.pub/deb stable main" | sudo tee /etc/apt/sources.list.d/rtx.list

sudo apt-add-repository ppa:fish-shell/release-3 -y
sudo apt-add-repository ppa:git-core/ppa -y
sudo apt update
sudo apt install -y \
  git \
  fish \
  rtx \
  ripgrep \
  build-essential
{{ end -}}

curl -sS https://starship.rs/install.sh | sh
