{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt-get update
sudo apt-get install -y --no-install-recommends \
  ripgrep fish tmux fd-find
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep fish tmux fd
{{ end -}}
