snippet it
it '$1' do
	expect(subject$2).to$3 $4$5
end
endsnippet

snippet context
context '$1' do
	$2
end
endsnippet

snippet before
before '$1' do
	$2
end
endsnippet

snippet subject
subject do
  $1
end
endsnippet
