[user]
  name  = Robert Williams
  email = rob@r-williams.com
[color]
  diff   = auto
  status = auto
  branch = auto
	ui = true
[alias]
  fr = pull --rebase
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  searchadd = "!f() { git diff -U1 -S"$1" --pickaxe-regex | grepdiff "$1" | git apply --cached; }; f"
[core]
  excludesfile = ~/.config/git/ignore
  autocrlf     = input
	editor = $EDITOR
	pager = less -FRX
[apply]
  whitespace = nowarn
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cd)%Creset
[github]
  user = robwilliams
[advice]
	statusHints = false
[push]
	default = current
[help]
	autocorrect = 5
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[fetch]
	prune = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	template = {{ .chezmoi.homeDir }}/.config/git/template
